<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>Food Ordering HTML Template</title>
    <link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon">
    

    <link rel="stylesheet" href="assets/css/icons.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/red-color.css">
    <link rel="stylesheet" href="assets/css/yellow-color.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
</head>
<body itemscope>
    <main>
        <header></header>
        <section>
            <div class="block">
                <div style="background-image: url(assets/images/topbg.jpg);" class="fixed-bg full-height"></div>
                <div class="coming-soon-wrapper text-center">
                    <div class="coming-soon-inner">
                        <div class="logo"><h1 itemprop="headline"><a href="index-2.html" title="Home" itemprop="url"><img src="assets/images/logo.png" alt="logo.png" itemprop="image"></a></h1></div>
                        <span class="yellow-clr">WE'RE WORKING ON SOMTHING NEW!</span>
                        <h1 itemprop="headline" class="wow flash" data-wow-delay="0.2s">Coming Soon</h1>
                        <p itemprop="description">Vivam pulput vehic Mauris porttitor erovel sapien Sed ut persp tatem semper mi, at ultricies odio.</p>
                        <ul class="countdown">
                            <li class="brd-rd50 yellow-bg wow bounceIn" data-wow-delay="0.2s">
                                <span class="days">00</span>
                                <p class="days_ref">Days</p>
                            </li>
                            <li class="brd-rd50 yellow-bg wow bounceIn" data-wow-delay="0.4s">
                                <span class="hours">00</span>
                                <p class="hours_ref">Hours</p>
                            </li>
                            <li class="brd-rd50 yellow-bg wow bounceIn" data-wow-delay="0.5s">
                                <span class="minutes">00</span>
                                <p class="minutes_ref">Minutes</p>
                            </li>
                            <li class="brd-rd50 yellow-bg wow bounceIn" data-wow-delay="0.6s">
                                <span class="seconds">00</span>
                                <p class="seconds_ref">Seconds</p>
                            </li>
                        </ul>
                        <div class="follow-us">
                            <span>Follow Us :</span>
                            <a href="#" title="Facebook" itemprop="url" target="_blank"><i class="fa fa-facebook-square"></i></a>
                            <a href="#" title="Twitter" itemprop="url" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="#" title="Google Plus" itemprop="url" target="_blank"><i class="fa fa-google-plus"></i></a>
                        </div>
                        <div class="copyright">
                            <p><a href="Templatepoint.net">Templates Point</a></p>
                        </div>
                    </div>
                </div><!-- Coming Soon Wrapper -->
            </div>
        </section>
    </main><!-- Main Wrapper -->

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/main.js"></script>
</body>	

</html>