<!DOCTYPE html>
<html lang="en">

<body itemscope>
    <main>
    
        <section>
            <div class="block">
                <div class="fixed-bg" style="background-image: url(assets/images/topbg.jpg);"></div>
                <div class="page-title-wrapper text-center">
                    <div class="col-md-12 col-sm-12 col-lg-12">
                        <div class="page-title-inner">
                            <h1 itemprop="headline">Dashboard</h1>
                                <span>A Greate Restaurant Website</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="bread-crumbs-wrapper">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#" title="" itemprop="url">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
        </div>

        <section>
            <div class="block less-spacing gray-bg top-padd30">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <div class="sec-box">
                                <div class="dashboard-tabs-wrapper">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-12 col-lg-4">
                                            <div class="profile-sidebar brd-rd5 wow fadeIn" data-wow-delay="0.2s">
                                                <div class="profile-sidebar-inner brd-rd5">
                                                    <div class="user-info red-bg">
                                                        <img class="brd-rd50" src="assets/images/resource/user-avatar.jpg" alt="user-avatar.jpg" itemprop="image">
                                                        <div class="user-info-inner">
                                                            <h5 itemprop="headline"><a href="#" title="" itemprop="url">BUYER DEMO</a></h5>
                                                            <span><a href="#" title="" itemprop="url">dum3@chimpgroou.com</a></span>
                                                            <a class="brd-rd3 sign-out-btn yellow-bg" href="#" title="" itemprop="url"><i class="fa fa-sign-out"></i> SIGN OUT</a>
                                                        </div>
                                                    </div>
                                                    <ul class="nav nav-tabs">
                                                        <li class="active"><a href="#dashboard" data-toggle="tab"><i class="fa fa-dashboard"></i> DASHBOARD</a></li>
                                                        <li><a href="#my-bookings" data-toggle="tab"><i class="fa fa-file-text"></i> MY BOOKINGS</a></li>
                                                        <li><a href="#my-reviews" data-toggle="tab"><i class="fa fa-comments"></i> MY REVIEWS</a></li>
                                                        <li><a href="#my-orders" data-toggle="tab"><i class="fa fa-shopping-basket"></i> MY ORDERS</a></li>
                                                        <li><a href="#shortlists" data-toggle="tab"><i class="fa fa-heart"></i> SHORTLISTS</a></li>
                                                        <li><a href="#statement" data-toggle="tab"><i class="fa fa-wpforms"></i> STATEMENT</a></li>
                                                        <li><a href="#account-settings" data-toggle="tab"><i class="fa fa-cog"></i> ACCOUNT SETTINGS</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-8 col-sm-12 col-lg-8">
                                            <div class="tab-content">
                                                <div class="tab-pane fade in active" id="dashboard">
                                                    <div class="dashboard-wrapper brd-rd5">
                                                        <div class="welcome-note yellow-bg brd-rd5">
                                                            <h4 itemprop="headline">WELCOME TO YOUR ACCOUNT</h4>
                                                            <p itemprop="description">Things that get tricky are things like burgers and fries, or things that are deep-fried. We do have a couple of burger restaurants that are capable of doing a good</p>
                                                            <img src="assets/images/resource/welcome-note-img.png" alt="welcome-note-img.png" itemprop="image">
                                                            <a class="remove-noti" href="#" title="" itemprop="url"><img src="assets/images/close-icon.png" alt="close-icon.png" itemprop="image"></a>
                                                        </div>
                                                        <div class="dashboard-title">
                                                            <h4 itemprop="headline">SUGGESTED RESTAURANTS</h4>
                                                            <span>Define <a class="red-clr" href="#" title="" itemprop="url">Search criteria</a> to search for specific</span>
                                                        </div>
                                                        <div class="restaurants-list">
                                                            <div class="featured-restaurant-box style3 brd-rd5 wow fadeInUp" data-wow-delay="0.2s">
                                                                <div class="featured-restaurant-thumb"><a href="#" title="" itemprop="url"><img src="assets/images/resource/restaurant-logo1-1.png" alt="restaurant-logo1-1.png" itemprop="image"></a></div>
                                                                <div class="featured-restaurant-info">
                                                                    <span class="red-clr">5th Avenue New York 68</span>
                                                                    <h4 itemprop="headline"><a href="#" title="" itemprop="url">Domino's Pizza</a></h4>
                                                                    <ul class="post-meta">
                                                                        <li><i class="fa fa-check-circle-o"></i> Min order $50</li>
                                                                        <li><i class="flaticon-transport"></i> 30min</li>
                                                                    </ul>
                                                                </div>
                                                                <div class="view-menu-liks">
                                                                    <span class="red-bg brd-rd4 post-likes"><i class="fa fa-heart-o"></i> 12</span>
                                                                    <a class="brd-rd3" href="#" title="" itemprop="url">View Menu</a>
                                                                </div>
                                                            </div>
                                                            <div class="featured-restaurant-box style3 brd-rd5 wow fadeInUp" data-wow-delay="0.3s">
                                                                <div class="featured-restaurant-thumb"><a href="#" title="" itemprop="url"><img src="assets/images/resource/restaurant-logo1-2.png" alt="restaurant-logo1-2.png" itemprop="image"></a></div>
                                                                <div class="featured-restaurant-info">
                                                                    <span class="red-clr">5th Avenue New York 68</span>
                                                                    <h4 itemprop="headline"><a href="#" title="" itemprop="url">Pizza Hut</a></h4>
                                                                    <ul class="post-meta">
                                                                        <li><i class="fa fa-check-circle-o"></i> Min order $40</li>
                                                                        <li><i class="flaticon-transport"></i> 30min</li>
                                                                    </ul>
                                                                </div>
                                                                <div class="view-menu-liks">
                                                                    <span class="red-bg brd-rd4 post-likes"><i class="fa fa-heart-o"></i> 20</span>
                                                                    <a class="brd-rd3" href="#" title="" itemprop="url">View Menu</a>
                                                                </div>
                                                            </div>
                                                            <div class="featured-restaurant-box style3 brd-rd5 wow fadeInUp" data-wow-delay="0.4s">
                                                                <div class="featured-restaurant-thumb"><a href="#" title="" itemprop="url"><img src="assets/images/resource/restaurant-logo1-1.png" alt="restaurant-logo1-1.png" itemprop="image"></a></div>
                                                                <div class="featured-restaurant-info">
                                                                    <span class="red-clr">5th Avenue New York 68</span>
                                                                    <h4 itemprop="headline"><a href="#" title="" itemprop="url">Burger King</a></h4>
                                                                    <ul class="post-meta">
                                                                        <li><i class="fa fa-check-circle-o"></i> Min order $100</li>
                                                                        <li><i class="flaticon-transport"></i> 30min</li>
                                                                    </ul>
                                                                </div>
                                                                <div class="view-menu-liks">
                                                                    <span class="red-bg brd-rd4 post-likes"><i class="fa fa-heart-o"></i> 15</span>
                                                                    <a class="brd-rd3" href="#" title="" itemprop="url">View Menu</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="my-bookings">
                                                    <div class="tabs-wrp brd-rd5">
                                                        <h4 itemprop="headline">MY BOOKINGS</h4>
                                                        <div class="select-wrap-inner">
                                                            <div class="select-wrp2">
                                                                <select>
                                                                    <option>Select Booking Status</option>
                                                                    <option>Select Booking Status</option>
                                                                    <option>Select Booking Status</option>
                                                                </select>
                                                            </div>
                                                            <div class="select-wrp2">
                                                                <select>
                                                                    <option>Select Date Range</option>
                                                                    <option>Select Date Range</option>
                                                                    <option>Select Date Range</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="booking-table">
                                                            <table>
                                                                <thead>
                                                                    <tr><th>RESTAURANT NAME</th><th>DATE</th><th>STATUS</th></tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td><h5 itemprop="headline"><a href="#" title="" itemprop="url">Jet's Kitchen ( #8589 )</a></h5></td>
                                                                        <td>Aug 17,2017</td>
                                                                        <td><span class="brd-rd3 processing">PROCESSING</span> <a class="detail-link brd-rd50" href="#" title="" itemprop="url"><i class="fa fa-chain"></i></a></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><h5 itemprop="headline"><a href="#" title="" itemprop="url">Jet's Kitchen ( #8589 )</a></h5></td>
                                                                        <td>Aug 17,2017</td>
                                                                        <td><span class="brd-rd3 processing">PROCESSING</span> <a class="detail-link brd-rd50" href="#" title="" itemprop="url"><i class="fa fa-chain"></i></a></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><h5 itemprop="headline"><a href="#" title="" itemprop="url">Jet's Kitchen ( #8589 )</a></h5></td>
                                                                        <td>Aug 17,2017</td>
                                                                        <td><span class="brd-rd3 completed">COMPLETED</span> <a class="detail-link brd-rd50" href="#" title="" itemprop="url"><i class="fa fa-chain"></i></a></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><h5 itemprop="headline"><a href="#" title="" itemprop="url">Jet's Kitchen ( #8589 )</a></h5></td>
                                                                        <td>Aug 17,2017</td>
                                                                        <td><span class="brd-rd3 processing">PROCESSING</span> <a class="detail-link brd-rd50" href="#" title="" itemprop="url"><i class="fa fa-chain"></i></a></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><h5 itemprop="headline"><a href="#" title="" itemprop="url">Jet's Kitchen ( #8589 )</a></h5></td>
                                                                        <td>Aug 17,2017</td>
                                                                        <td><span class="brd-rd3 completed">COMPLETED</span> <a class="detail-link brd-rd50" href="#" title="" itemprop="url"><i class="fa fa-chain"></i></a></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="my-reviews">
                                                    <div class="tabs-wrp brd-rd5">
                                                        <h4 itemprop="headline">MY REVIEWS</h4>
                                                        <div class="select-wrap-inner">
                                                            <div class="select-wrp2">
                                                                <select>
                                                                    <option>Newest Reviews</option>
                                                                    <option>Newest Reviews</option>
                                                                    <option>Newest Reviews</option>
                                                                </select>
                                                            </div>
                                                            <div class="select-wrp2">
                                                                <select>
                                                                    <option>Select Date Range</option>
                                                                    <option>Select Date Range</option>
                                                                    <option>Select Date Range</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="review-list">
                                                            <div class="review-box brd-rd5">
                                                                <h4 itemprop="headline"><a href="#" title="" itemprop="url">RESTAURANT DEMO</a></h4>
                                                                <div class="ratings">
                                                                    <i class="fa fa-star on"></i>
                                                                    <i class="fa fa-star on"></i>
                                                                    <i class="fa fa-star on"></i>
                                                                    <i class="fa fa-star off"></i>
                                                                    <i class="fa fa-star off"></i>
                                                                </div>
                                                                <p itemprop="description">FoodBakery order today. So great to be able to order food and not have to talk to anyone.</p>
                                                                <div class="review-info">
                                                                    <img class="brd-rd50" src="assets/images/resource/reviewr-img1.jpg" alt="reviewr-img1.jpg" itemprop="image">
                                                                    <div class="review-info-inner">
                                                                        <h5 itemprop="headline">QLARK JAKSON</h5>
                                                                        <i class="red-clr">2 months Ago</i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="review-box brd-rd5">
                                                                <h4 itemprop="headline"><a href="#" title="" itemprop="url">RESTAURANT DEMO</a></h4>
                                                                <div class="ratings">
                                                                    <i class="fa fa-star on"></i>
                                                                    <i class="fa fa-star on"></i>
                                                                    <i class="fa fa-star on"></i>
                                                                    <i class="fa fa-star on"></i>
                                                                    <i class="fa fa-star off"></i>
                                                                </div>
                                                                <p itemprop="description">FoodBakery order today. So great to be able to order food and not have to talk to anyone.</p>
                                                                <div class="review-info">
                                                                    <img class="brd-rd50" src="assets/images/resource/reviewr-img2.jpg" alt="reviewr-img2.jpg" itemprop="image">
                                                                    <div class="review-info-inner">
                                                                        <h5 itemprop="headline">QLARK JAKSON</h5>
                                                                        <i class="red-clr">2 months Ago</i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="review-box brd-rd5">
                                                                <h4 itemprop="headline"><a href="#" title="" itemprop="url">RESTAURANT DEMO</a></h4>
                                                                <div class="ratings">
                                                                    <i class="fa fa-star on"></i>
                                                                    <i class="fa fa-star on"></i>
                                                                    <i class="fa fa-star on"></i>
                                                                    <i class="fa fa-star on"></i>
                                                                    <i class="fa fa-star on"></i>
                                                                </div>
                                                                <p itemprop="description">FoodBakery order today. So great to be able to order food and not have to talk to anyone.</p>
                                                                <div class="review-info">
                                                                    <img class="brd-rd50" src="assets/images/resource/reviewr-img3.jpg" alt="reviewr-img3.jpg" itemprop="image">
                                                                    <div class="review-info-inner">
                                                                        <h5 itemprop="headline">QLARK JAKSON</h5>
                                                                        <i class="red-clr">2 months Ago</i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div><!-- Review List -->
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="my-orders">
                                                    <div class="tabs-wrp brd-rd5">
                                                        <h4 itemprop="headline">MY ORDERS</h4>
                                                        <div class="select-wrap-inner">
                                                            <div class="select-wrp2">
                                                                <select>
                                                                    <option>Select Orders Status</option>
                                                                    <option>Select Orders Status</option>
                                                                    <option>Select Orders Status</option>
                                                                </select>
                                                            </div>
                                                            <div class="select-wrp2">
                                                                <select>
                                                                    <option>Select Date Range</option>
                                                                    <option>Select Date Range</option>
                                                                    <option>Select Date Range</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="order-list">
                                                            <div class="order-item brd-rd5">
                                                                <div class="order-thumb brd-rd5">
                                                                    <a href="#" title="" itemprop="url"><img src="assets/images/resource/order-img1.jpg" alt="order-img1.jpg" itemprop="image"></a>
                                                                    <span class="post-rate yellow-bg brd-rd2"><i class="fa fa-star-o"></i> 4.25</span>
                                                                </div>
                                                                <div class="order-info">
                                                                    <span class="red-clr">5th Avenue New York 68</span>
                                                                    <h4 itemprop="headline"><a href="#" title="" itemprop="url">Maenaam Thai Restaurant</a></h4>
                                                                    
                                                                    <span class="price">$85.00</span>
                                                                    <span class="processing brd-rd3">PROCESSING</span>
                                                                    <a class="brd-rd2" href="#" title="" itemprop="url">Order Detail</a>
                                                                </div>
                                                            </div>
                                                            <div class="order-item brd-rd5">
                                                                <div class="order-thumb brd-rd5">
                                                                    <a href="#" title="" itemprop="url"><img src="assets/images/resource/order-img2.jpg" alt="order-img2.jpg" itemprop="image"></a>
                                                                    <span class="post-rate yellow-bg brd-rd2"><i class="fa fa-star-o"></i> 3.0</span>
                                                                </div>
                                                                <div class="order-info">
                                                                    <span class="red-clr">5th Avenue New York 68</span>
                                                                    <h4 itemprop="headline"><a href="#" title="" itemprop="url">Maenaam Thai Restaurant</a></h4>
                                                                    
                                                                    <span class="price">$85.00</span>
                                                                    <span class="completed brd-rd3">COMPLETED</span>
                                                                    <a class="brd-rd2" href="#" title="" itemprop="url">Order Detail</a>
                                                                </div>
                                                            </div>
                                                            <div class="order-item brd-rd5">
                                                                <div class="order-thumb brd-rd5">
                                                                    <a href="#" title="" itemprop="url"><img src="assets/images/resource/order-img3.jpg" alt="order-img3.jpg" itemprop="image"></a>
                                                                    <span class="post-rate yellow-bg brd-rd2"><i class="fa fa-star-o"></i> 5.00</span>
                                                                </div>
                                                                <div class="order-info">
                                                                    <span class="red-clr">5th Avenue New York 68</span>
                                                                    <h4 itemprop="headline"><a href="#" title="" itemprop="url">Maenaam Thai Restaurant</a></h4>
                                                                    
                                                                    <span class="price">$85.00</span>
                                                                    <span class="completed brd-rd3">COMPLETED</span>
                                                                    <a class="brd-rd2" href="#" title="" itemprop="url">Order Detail</a>
                                                                </div>
                                                            </div>
                                                            <div class="order-item brd-rd5">
                                                                <div class="order-thumb brd-rd5">
                                                                    <a href="#" title="" itemprop="url"><img src="assets/images/resource/order-img4.jpg" alt="order-img4.jpg" itemprop="image"></a>
                                                                    <span class="post-rate yellow-bg brd-rd2"><i class="fa fa-star-o"></i> 5.30</span>
                                                                </div>
                                                                <div class="order-info">
                                                                    <span class="red-clr">5th Avenue New York 68</span>
                                                                    <h4 itemprop="headline"><a href="#" title="" itemprop="url">Maenaam Thai Restaurant</a></h4>
                                                                    
                                                                    <span class="price">$85.00</span>
                                                                    <span class="completed brd-rd3">COMPLETED</span>
                                                                    <a class="brd-rd2" href="#" title="" itemprop="url">Order Detail</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="pagination-wrapper text-center style2">
                                                            <ul class="pagination justify-content-center">
                                                                <li class="page-item prev"><a class="page-link brd-rd2" href="#" itemprop="url">PREV</a></li>
                                                                <li class="page-item"><a class="page-link brd-rd2" href="#" itemprop="url">1</a></li>
                                                                <li class="page-item"><a class="page-link brd-rd2" href="#" itemprop="url">2</a></li>
                                                                <li class="page-item active"><span class="page-link brd-rd2">3</span></li>
                                                                <li class="page-item"><a class="page-link brd-rd2" href="#" itemprop="url">4</a></li>
                                                                <li class="page-item"><a class="page-link brd-rd2" href="#" itemprop="url">5</a></li>
                                                                <li class="page-item">........</li>
                                                                <li class="page-item"><a class="page-link brd-rd2" href="#" itemprop="url">18</a></li>
                                                                <li class="page-item next"><a class="page-link brd-rd2" href="#" itemprop="url">NEXT</a></li>
                                                            </ul>
                                                        </div><!-- Pagination Wrapper -->
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="shortlists">
                                                    <div class="tabs-wrp brd-rd5">
                                                        <h4 itemprop="headline">SHORTLISTS</h4>
                                                        <div class="restaurants-list">
                                                            <div class="featured-restaurant-box style3 brd-rd5">
                                                                <div class="featured-restaurant-thumb"><a href="#" title="" itemprop="url"><img src="assets/images/resource/restaurant-logo1-1.png" alt="restaurant-logo1-1.png" itemprop="image"></a></div>
                                                                <div class="featured-restaurant-info">
                                                                    <span class="red-clr">5th Avenue New York 68</span>
                                                                    <h4 itemprop="headline"><a href="#" title="" itemprop="url">Domino's Pizza</a></h4>
                                                                    <ul class="post-meta">
                                                                        <li><i class="fa fa-check-circle-o"></i> Min order $50</li>
                                                                        <li><i class="flaticon-transport"></i> 30min</li>
                                                                    </ul>
                                                                </div>
                                                                <div class="view-menu-liks">
                                                                    <a class="brd-rd3" href="#" title="" itemprop="url">View Menu</a>
                                                                </div>
                                                            </div>
                                                            <div class="featured-restaurant-box style3 brd-rd5">
                                                                <div class="featured-restaurant-thumb"><a href="#" title="" itemprop="url"><img src="assets/images/resource/restaurant-logo1-2.png" alt="restaurant-logo1-2.png" itemprop="image"></a></div>
                                                                <div class="featured-restaurant-info">
                                                                    <span class="red-clr">5th Avenue New York 68</span>
                                                                    <h4 itemprop="headline"><a href="#" title="" itemprop="url">Pizza Hut</a></h4>
                                                                    <ul class="post-meta">
                                                                        <li><i class="fa fa-check-circle-o"></i> Min order $40</li>
                                                                        <li><i class="flaticon-transport"></i> 30min</li>
                                                                    </ul>
                                                                </div>
                                                                <div class="view-menu-liks">
                                                                    <a class="brd-rd3" href="#" title="" itemprop="url">View Menu</a>
                                                                </div>
                                                            </div>
                                                            <div class="featured-restaurant-box style3 brd-rd5">
                                                                <div class="featured-restaurant-thumb"><a href="#" title="" itemprop="url"><img src="assets/images/resource/restaurant-logo1-3.png" alt="restaurant-logo1-3.png" itemprop="image"></a></div>
                                                                <div class="featured-restaurant-info">
                                                                    <span class="red-clr">5th Avenue New York 68</span>
                                                                    <h4 itemprop="headline"><a href="#" title="" itemprop="url">Burger King</a></h4>
                                                                    <ul class="post-meta">
                                                                        <li><i class="fa fa-check-circle-o"></i> Min order $100</li>
                                                                        <li><i class="flaticon-transport"></i> 30min</li>
                                                                    </ul>
                                                                </div>
                                                                <div class="view-menu-liks">
                                                                    <a class="brd-rd3" href="#" title="" itemprop="url">View Menu</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="pagination-wrapper text-center style2">
                                                            <ul class="pagination justify-content-center">
                                                                <li class="page-item prev"><a class="page-link brd-rd2" href="#" itemprop="url">PREV</a></li>
                                                                <li class="page-item"><a class="page-link brd-rd2" href="#" itemprop="url">1</a></li>
                                                                <li class="page-item"><a class="page-link brd-rd2" href="#" itemprop="url">2</a></li>
                                                                <li class="page-item active"><span class="page-link brd-rd2">3</span></li>
                                                                <li class="page-item"><a class="page-link brd-rd2" href="#" itemprop="url">4</a></li>
                                                                <li class="page-item"><a class="page-link brd-rd2" href="#" itemprop="url">5</a></li>
                                                                <li class="page-item">........</li>
                                                                <li class="page-item"><a class="page-link brd-rd2" href="#" itemprop="url">18</a></li>
                                                                <li class="page-item next"><a class="page-link brd-rd2" href="#" itemprop="url">NEXT</a></li>
                                                            </ul>
                                                        </div><!-- Pagination Wrapper -->
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="statement">
                                                    <div class="tabs-wrp brd-rd5">
                                                        <h4 itemprop="headline">STATEMENTS</h4>
                                                        <div class="select-wrap-inner">
                                                            <div class="select-wrp2"></div>
                                                            <div class="select-wrp2">
                                                                <select>
                                                                    <option>Select Date Range</option>
                                                                    <option>Select Date Range</option>
                                                                    <option>Select Date Range</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="statement-table">
                                                            <table>
                                                                <thead>
                                                                    <tr><th>TRANSACTION ID</th><th>ORDER ID</th><th>DATE</th><th>DETAIL</th><th>AMOUNT</th></tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr><td>#30737723</td><td>8720</td><td>Aug 17,2017</td><td>Order - Misumisu Thai</td><td><span class="red-clr">$35.97</span></td></tr>
                                                                    <tr><td>#30737723</td><td>8720</td><td>Aug 17,2017</td><td>Order - Jet's Kitchen</td><td><span class="red-clr">$35.97</span></td></tr>
                                                                    <tr><td>#30737723</td><td>8720</td><td>Aug 17,2017</td><td>Order - Misumisu Thai</td><td><span class="red-clr">$35.97</span></td></tr>
                                                                    <tr><td>#30737723</td><td>8720</td><td>Aug 17,2017</td><td>Order - Misumisu Thai</td><td><span class="red-clr">$35.97</span></td></tr>
                                                                    <tr><td>#30737723</td><td>8720</td><td>Aug 17,2017</td><td>Order - Misumisu Thai</td><td><span class="red-clr">$35.97</span></td></tr>
                                                                </tbody>
                                                            </table>
                                                        </div><!-- Statement Table -->
                                                        <div class="pagination-wrapper text-center style2">
                                                            <ul class="pagination justify-content-center">
                                                                <li class="page-item prev"><a class="page-link brd-rd2" href="#" itemprop="url">PREV</a></li>
                                                                <li class="page-item"><a class="page-link brd-rd2" href="#" itemprop="url">1</a></li>
                                                                <li class="page-item"><a class="page-link brd-rd2" href="#" itemprop="url">2</a></li>
                                                                <li class="page-item active"><span class="page-link brd-rd2">3</span></li>
                                                                <li class="page-item"><a class="page-link brd-rd2" href="#" itemprop="url">4</a></li>
                                                                <li class="page-item"><a class="page-link brd-rd2" href="#" itemprop="url">5</a></li>
                                                                <li class="page-item">........</li>
                                                                <li class="page-item"><a class="page-link brd-rd2" href="#" itemprop="url">18</a></li>
                                                                <li class="page-item next"><a class="page-link brd-rd2" href="#" itemprop="url">NEXT</a></li>
                                                            </ul>
                                                        </div><!-- Pagination Wrapper -->
                                                    </div>
                                                </div>
                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- Section Box -->
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer>
            <div class="block top-padd80 bottom-padd80 dark-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <div class="footer-data">
                                <div class="row">
                                    <div class="col-md-3 col-sm-6 col-lg-3">
                                        <div class="widget about_widget wow fadeIn" data-wow-delay="0.1s">
                                            <div class="logo"><h1 itemprop="headline"><a href="#" title="Home" itemprop="url"><img src="assets/images/logo.png" alt="logo.png" itemprop="image"></a></h1></div>
                                            <p itemprop="description">Food Ordering is a Premium HTML Template. Best choice for your online store. Let purchase it to enjoy now</p>
                                            <div class="social2">
                                                <a class="brd-rd50" href="#" title="Facebook" itemprop="url" target="_blank"><i class="fa fa-facebook"></i></a>
                                                <a class="brd-rd50" href="#" title="Google Plus" itemprop="url" target="_blank"><i class="fa fa-google-plus"></i></a>
                                                <a class="brd-rd50" href="#" title="Twitter" itemprop="url" target="_blank"><i class="fa fa-twitter"></i></a>
                                                <a class="brd-rd50" href="#" title="Pinterest" itemprop="url" target="_blank"><i class="fa fa-pinterest"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-lg-3">
                                        <div class="widget information_links wow fadeIn" data-wow-delay="0.2s">
                                            <h4 class="widget-title" itemprop="headline">INFORMATION</h4>
                                            <ul>
                                                <li><a href="#" title="" itemprop="url">Careers</a></li>
                                                <li><a href="#" title="" itemprop="url">Investor Relations</a></li>
                                                <li><a href="#" title="" itemprop="url">Press Releases</a></li>
                                                <li><a href="#" title="" itemprop="url">Shop with Points</a></li>
                                                <li><a href="#" title="" itemprop="url">More Branches</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-lg-3">
                                        <div class="widget customer_care wow fadeIn" data-wow-delay="0.3s">
                                            <h4 class="widget-title" itemprop="headline">CUSTOMER CARE</h4>
                                            <ul>
                                                <li><a href="#" title="" itemprop="url">Returns</a></li>
                                                <li><a href="#" title="" itemprop="url">Shipping Info</a></li>
                                                <li><a href="#" title="" itemprop="url">Gift Cards</a></li>
                                                <li><a href="#" title="" itemprop="url">Size Guide</a></li>
                                                <li><a href="#" title="" itemprop="url">Money Back</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-lg-3">
                                        <div class="widget get_in_touch wow fadeIn" data-wow-delay="0.4s">
                                            <h4 class="widget-title" itemprop="headline">GET IN TOUCH</h4>
                                            <ul>
                                               <li><i class="fa fa-map-marker"></i> 123 New Design Str, ABC Building, melbourne, Australia.</li>
                                               <li><i class="fa fa-phone"></i> (0044) 8647 1234 587</li>
                                               <li><i class="fa fa-envelope"></i> <a href="#" title="" itemprop="url">hello@yourdomain.com</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- Footer Data -->
                        </div>
                    </div>
                </div>
            </div>
        </footer>
     
    </main><!-- Main Wrapper -->


</body>	

</html>